header {
    display: flex;
    width: 100%;
    height: 6.5rem;
    align-items: center;
    justify-content: space-between;
    background-color: #471D07;
    border-radius: 15px;
}

h1{
    margin-left: 35px;
    font-size: 450%;
}

h2{
    margin-left: 70px;
}

body{
    background-color: #01646A;
    border-radius: 15px;
}

ul{
    display: flex;
    text-decoration: none;
    gap: 2rem;
    list-style: none;
    height: 60px;
    justify-content: space-between;
    background-color: #471D07;
    border-radius: 30px;
    margin-right: 50px;

}
    
li{
    display: flex;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
    margin-right: 6px;
}

section{
    display: flex;
    background-color: #E37901;
    width: 100%;
    border-radius: 15px;
    margin-top: 30px;
    height: 54.7rem;
}

img{
    display: flex;
    border-radius: 10px;
    margin-left: 20px;
}
p{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
footer{
    display: flex   ;
    background-color: #FADC6C;
    width: 100%;
    height: 12rem;
    border-radius: 15px;
    margin-top: 30px;
    height: 7rem;
    
}

#c1{
    border-collapse: separate;
    padding-right: 90px;

}

#c2{
    border-collapse: separate;
    padding-right: 90px;

}

#c3{
    border-collapse: separate;
    padding-right: 90px;
    

}


